.App {
  text-align: center;
}
.trendContentList {
  width: 30%;
  margin-top: 50px;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.titleTrend {
  color: grey;
}
.trendPost {
  margin-bottom: 40px;
}
.trendContentList {
  background-color: #15181c;
  border-radius: 10px;
  padding: 20px;
  height: 10%;
}
.mainDiv {
  display: flex;
  gap: 20px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sideBar {
  width: 25%;
  margin-top: 50px;
}
ul li {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.sideBar a {
  margin-left: 40px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.sideBar a:hover {
  text-decoration: none;
  color: rgb(29 161 242);
}
.sideBar button {
  display: block;
  width: 100%;
  border-radius: 15px;
  padding: 5px;
  background-color: rgb(29 161 242);
  color: white;
  font-size: 20px;
  border: none;
}
.Feed {
  width: 50%;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 20px;
}
.postCard {
  border: 1px solid white;
  margin-bottom: 15px;
  padding: 10px;
}
